*,
::before,
::after {
  box-sizing: border-box;
}

html {
  min-inline-size: 20rem;
  scroll-behavior: smooth;
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
}

img {
  display: block;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
