prose-content :where(table) {
  display: block;
  max-inline-size: 100%;
  overflow-x: auto;
  font-size: 0.875rem;
}

prose-content :where(thead) {
  border-block-end: 1.5px solid var(--color-border);
}

prose-content :where(tr) {
  border-block-end: 1px solid var(--color-border);
}

prose-content :where(th, td) {
  min-inline-size: 8rem;
  padding: 0.5em 0.75em;
  text-align: start;
  vertical-align: top;
}

prose-content :where(th) {
  color: var(--color-text-strong);
  font-weight: 620;
}

prose-content :where(td) {
  color: var(--color-text);
}

prose-content :where(td > :first-child) {
  margin-block-start: 0;
}

prose-content :where(td > :last-child) {
  margin-block-end: 0;
}
